<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/models/item.js"></script> 
    <script src="../js/models/itemoperations.js"></script>   
    <script src="../js/utils/viewer.js"></script>
    <script src="../js/utils/ajax.js"></script>
      <script src="../js/controllers/controller.js"></script>
        </head>
       <body>
       <div id="container">
       <div class="row">
        <div class="col-md-6">
        <h1>Online Shop</h1>
        <ul id="items">
            
        </ul>
        </div>
        <div class="col-md-6">
            <h1>Add To Cart</h1>
            <ul id="addToCartItems">
                
            </ul>
        </div>
        </div>
        </div>
    </body>
</html>